CameraManager
cv2
dashboard_page
document_reader_page
easyocr
gtts
kivy
login_page
login_signup_page
mediapipe
numpy
object_recognition_page
plyer
pygame
python3
requests
selection_page
signup_page
text_to_speech_page
ultralytics